/* Variabili */
/* Stili generali */
/* Stili per gli h1 */
h1 {
  font-size: 2em;
  margin-bottom: 1rem;
}

/* Font principale */
.main-font {
  font-family: "Source Code Pro", monospace;
}

main p {
  font-family: "Lexend Giga", serif;
}

/* Stili per i paragrafi */
.paragraph {
  line-height: 1.6;
}

/* Mixin per lo sticky menu */
/* Stili per lo sticky menu */
.sticky-menu {
  background-color: black;
  color: white;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
}

/* Stili per la navigazione */
.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.7s ease-in-out, color 0.7 ease-in-out;
  text-decoration: none;
  color: #fff;
}
.menu-item:hover {
  text-decoration: underline;
  transform: scale(1.15);
  color: #0675be;
}

/* Stili ACTIVE (per click/touch) */
.menu-item:active {
  transform: scale(0.95); /* Rimpicciolisce leggermente al click */
  color: #04578d; /* Scurisce leggermente il colore al click */
}

/* Stili per la transizione della descrizione*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fade-in {
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s; /* Delay of 1 second before animation starts */
}

/* Stili per la sezione dei progetti */
.work-item-photo {
  width: 100%;
  height: auto;
  display: block;
}

.projects-heading-title {
  margin-top: -1rem;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  font-weight: 900;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  align-self: flex-end;
  font-size: 5rem;
  font-weight: bold;
  z-index: 2;
  position: relative;
  line-height: 0.1em;
}
@media (max-width: 1024px) {
  .projects-heading-title {
    font-size: 4rem;
  }
}

.work-item-description {
  font-size: 0.5rem;
  font-size: large;
  font-weight: bold;
  color: #333;
  margin-top: 0.5rem;
  font-family: "Lexend Giga", serif;
}
@media (min-width: 1024px) {
  .work-item-description {
    font-size: 1.15rem;
  }
}

.grid-container-projects {
  display: grid;
  grid-template-columns: 15px 1fr 1fr 15px;
  grid-template-rows: auto 400px auto 400px auto;
  grid-template-areas: "title title title title" ". img1 img2 ." ". desc1 desc2 ." ". large-img large-img ." ". large-desc large-desc .";
  gap: 0;
  padding: 20px;
  padding-bottom: 20px;
}
.grid-container-projects img {
  transition: transform 0.5s ease;
  overflow: hidden;
}
.grid-container-projects img:hover {
  transform: scale(1.05);
}

.title-projects {
  grid-area: title;
}

.img1-projects, .img2-projects {
  margin-left: auto;
  margin-right: auto;
}

.img1-projects {
  grid-area: img1;
}

.img2-projects {
  grid-area: img2;
}

.desc1-projects, .desc2-projects {
  text-align: center;
}

.desc1-projects {
  grid-area: desc1;
}

.desc2-projects {
  grid-area: desc2;
}

.large-img-projects {
  grid-area: large-img;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.large-desc-projects {
  grid-area: large-desc;
  text-align: center;
  font-style: italic;
  font-size: 0, 5rem;
}

@media (max-width: 767px) {
  .grid-container-projects {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "title" "img1" "desc1" "img2" "desc2" "large-img" "large-desc";
    align-items: center;
    gap: 20px;
    padding: 10px;
  }
  .title-projects {
    font-size: 3.5rem;
    margin-left: 15px;
  }
  .work-item-description {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .large-img-projects {
    max-width: 300px;
    max-height: 350px;
    margin-bottom: 1rem;
  }
  .img1-projects, .img2-projects {
    max-width: 300px;
    max-height: 350px;
  }
}
/* Media query per schermi medi e grandi (tablet e desktop) */
@media (min-width: 768px) {
  .grid-container-projects {
    gap: 20px;
    padding: 20px;
  }
  .work-item-description {
    font-size: 1rem;
  }
}
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 60vh; // Altezza minima */
  padding: 9rem;
  box-sizing: border-box;
}
.about-section .title {
  grid-column: 1/3;
  text-align: left;
  align-self: flex-end;
  white-space: nowrap;
  font-size: 5rem;
  font-weight: bold;
  z-index: 2;
  position: relative;
  line-height: 0.1em;
}
.about-section .text-shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.about-section .about-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 80%;
  gap: 0;
  width: 80%;
  margin: 0;
  position: relative;
}
.about-section .about-container .description {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: stretch;
  z-index: 1;
  padding-inline: 0.5rem;
  min-height: 550px;
  min-width: 300px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  overflow-wrap: anywhere;
  position: relative;
}
.about-section .about-container .text-description {
  font-size: large;
  font-weight: bold;
  color: #333;
  font-family: "Lexend Giga", serif;
}
.about-section .about-container p {
  text-align: left;
}
.about-section .about-container .image {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: stretch;
  overflow: hidden;
  min-height: 500px;
  min-width: 320px;
}
.about-section .about-container .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .about-section {
    display: flex; /* Abilita Flexbox nel contenitore principale */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%; /* Occupa tutta la larghezza */
    padding: 2rem; /* Spazio interno */
    /* min-width: 100%;  Larghezza minima */
    flex-direction: column; /* Colonna per dispositivi mobili */
  }
  .about-section .title {
    font-size: 3.5rem;
  }
  .about-section .image {
    display: none;
  }
  .about-section .about-container .description {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
    min-height: auto;
    align-self: auto;
    align-items: flex-start;
    padding: 1rem;
    margin: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
  }
  .about-section .about-container {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    box-sizing: border-box;
    width: 100%;
  }
}
/* Footer */
/* Mixin per lo stile del footer */
.footer {
  background-color: black;
  color: white;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer .footer-content { /* Stili per il contenitore */
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .footer span {
    margin-right: 0.5rem; /* Spazio tra le sezioni */
  }
}

.contact-link {
  cursor: pointer;
  text-decoration: underline;
  color: #e2e8f0;
}
.contact-link:hover {
  text-decoration: underline;
  text-decoration-color: #0675be;
  color: #0675be;
}

/* Stili per le icone social */
.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.social-icons img {
  height: auto;
  display: block;
}
.social-icons img:hover { /* Stili per il passaggio del mouse */
  filter: grayscale(0%) sepia(100%) saturate(5) hue-rotate(170deg) brightness(0.9);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px; /* Spazio tra le icone */
}

/* Stili per desktop */
@media (min-width: 768px) {
  .menu-links {
    display: flex;
    justify-content: center;
  }
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Spacing between container elements */
  }
  .icon-container {
    padding: 0 10px;
  }
}
/* Stili per mobile (<= 768px) */
@media (max-width: 768px) {
  .icon-container {
    padding: 0 0rem;
  }
  .menu-links {
    flex-shrink: 0; /* Assicura che il menu non si riduca troppo */
    text-align: center;
  }
  .social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px; /* Riduce il gap su dispositivi mobili */
    align-items: center;
  }
}
.container-bio {
  width: 80%;
}
.container-bio h1 {
  font-weight: bold;
  font-size: 5rem;
  font-weight: bold;
  z-index: 2;
  position: relative;
  line-height: 0.1em;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
  .container-bio h1 {
    font-size: 2.5rem;
  }
}
.container-bio h1 {
  padding-bottom: 2.5rem;
}
.container-bio p {
  padding-bottom: 2.3rem;
  line-height: 2;
}
.container-bio ul {
  padding-bottom: 2.5rem;
}

.container-form {
  width: 80%;
}
.container-form h1 {
  font-weight: bold;
  font-size: 5rem;
  font-weight: bold;
  z-index: 2;
  position: relative;
  line-height: 0.1em;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
  .container-form h1 {
    font-size: 2.5rem;
  }
}/*# sourceMappingURL=styles.css.map */