/* Variabili */
/* Stili generali */
/* Stili per gli h1 */
h1 {
  font-size: 2em;
  margin-bottom: 1rem;
}

/* Stili per i paragrafi */
.paragraph {
  line-height: 1.6;
  color: white;
}

/* Mixin per lo sticky menu */
/* Stili per lo sticky menu */
.sticky-menu {
  background-color: black;
  color: white;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
}

/* Stili per la navigazione */
nav a {
  margin: 0 15px;
  cursor: pointer;
}
nav a:hover {
  text-decoration: underline;
}

nav a .fab {
  font-size: 1.2em;
  color: white;
  margin-left: 10px;
}

/* Stili generali */
.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, color 0.2 ease-in-out;
  text-decoration: none;
  color: inherit;
}

@media (hover: hover) {
  .menu-item:hover {
    text-decoration: underline;
    transform: scale(1.15);
    color: #0675be; /* Cambia colore al hover */
  }
}
/* Stili ACTIVE (per click/touch) */
.menu-item:active {
  transform: scale(0.95); /* Rimpicciolisce leggermente al click */
  color: #04578d; /* Scurisce leggermente il colore al click */
}

/* Stili per la navigazione */
nav .space-x-2 {
  display: flex;
  gap: 0.5rem;
}

/* Stili per le icone social */
.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 44px; /* Minimum width for the container */
  padding: 0 5px; /* Padding for spacing between icons - now on both mobile and desktop*/
}

.social-icons img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 24px;
  height: 24px;
}

.menu-links {
  text-align: center;
}

/* Stili per desktop */
@media (min-width: 768px) {
  .menu-links {
    display: flex;
    justify-content: center;
  }
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Spacing between container elements */
  }
  .icon-container {
    padding: 0 10px;
  }
}
/* Stili per mobile (<= 768px) */
@media (max-width: 768px) {
  .icon-container {
    padding: 0 0rem;
  }
  .menu-links {
    flex-shrink: 0; /* Assicura che il menu non si riduca troppo */
    text-align: center;
  }
  .social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 0px; /* Riduce il gap su dispositivi mobili */
    align-items: center;
  }
}
/* Stili per la transizione della descrizione*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fade-in {
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s; /* Delay of 1 second before animation starts */
}

/* Object-cover class */
.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

/* Stili per le sezioni Works */
.image-container {
  width: 100%; /* Larghezza al 100% su schermi piccoli */
  max-width: 1200px; /* Larghezza massima su schermi grandi */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.works-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
}
@media (min-width: 768px) {
  .works-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

.work-item-photo {
  width: 100%;
  height: auto;
  display: block;
}

.projects-heading {
  color: yellow;
  margin-top: 10.5rem;
  font-size: 2.5rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .projects-heading {
    font-size: 2.5rem;
    font-weight: bold;
  }
}

.work-item {
  display: grid;
  gap: 1rem;
}

.work-item-image img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.work-item-description {
  font-size: 1rem;
  color: #333;
  margin-top: 0.5rem;
}
@media (min-width: 1024px) {
  .work-item-description {
    font-size: 1.125rem;
  }
}

/* Mixin per lo stile del footer */
.footer {
  background-color: black;
  color: white;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer .footer-content { /* Stili per il contenitore */
  display: flex;
  align-items: center;
}
.footer span {
  margin-right: 0.5rem;
}

.contact-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.contact-link:hover {
  text-decoration: underline;
  text-decoration-color: #0675be;
  color: #0675be;
}

/* Stile per il contenitore principale */
.main-content {
  min-height: calc(100vh - 60px);
  padding-bottom: 60px;
}/*# sourceMappingURL=styles.css.map */